/*#logo{
    display: inline-block;
    vertical-align: top;
    width: 50px;
    height: 50px;
    margin-right: 20px;
    margin-top: 15px; 

}



.barre-navigation {
    width: 100%;
    height: 80px;
    background-color: red;
}

.barre-navigation ul li{

    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;      
    float: right;
}

.menu li a{
    color: white;
    float: initial;

}


.barre{
    display: inline-block;
    background-color: red;
    width: auto;
    height: 80px;
    margin-top: -45px;
    margin-left: -100px;

}
.barre .menu li{
    display: inline;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    width: 100%;
    margin-left: 200px;
    color: white;

}
*/

body{
    background: linear-gradient(220deg,red,black);
}

.logo a img {
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    
}


.barre{
    height: 80px;
    margin-top: -15px;
    background: linear-gradient(184deg,red,black);
    margin-left: -10px;
    margin-right: -10px;
}

.barre ul li {
    display:inline;
    padding: 50px;
} 

.barre #menu {
    text-align: center;
    margin-left: 400px;
}

#menu li a  {
    /*position: relative;*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    top: 0px;
    right: 0px;
    padding: 20px;
    float: left;
}


#menu li a :hover {
    color: red;
}

.cours {
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/webdev3.png");
    background-repeat: no-repeat;
    height: 600px;
    background-size: cover;
    margin-bottom: 100px;
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;

}

.cours h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100px;
    color:white;
    padding: 300px;
}

.listCours .block {
    display: inline-block;
    padding: 50px;
    width: 25%;
    /*page-break-inside: auto;*/
    justify-content: center;
    padding: 0px;

}
.listCours2 #block2{
    /*display: inline-flex;*/    
    /*padding: 50px;*/
    width: 20%;
    /*page-break-inside: auto;*/
    /*justify-content: center;*/
    /*padding: 0px;*/

}
.listCours2 .part3 div h2{
    justify-content: center;
}
#text{
    text-align: center;
}
#cours1{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel.png");
    height: 250px;
    width: 250px;
    margin-left: 32%;
}

#cours2{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel1.png");
    height: 250px;
    width: 250px;
}

#cours3{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel2.png");
    height: 250px;
    width: 250px;
    margin-left: -40%;
}

#cours4{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel3.png");
    height: 250px;
    width: 250px;
    margin-left: 32%;
}

#cours5{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel4.png");
    height: 250px;
    width: 250px;
}

#cours6{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel5.png");
    height: 250px;
    width: 250px;
    margin-left: -40%;
}

#cours7{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel6.png");
    height: 250px;
    width: 250px;
    position: absolute;
}

#cours8{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel7.png");
    height: 250px;
    width: 250px;
    position: absolute;
}

#cours9{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel8.png");
    height: 250px;
    width: 250px;
    float: left;
    margin-top: -10px;
    position: absolute;
}


#cours1 button{
    margin-top: 120px;
    display: none;
}
#cours1 button :hover {
    display: block;
}
#cours2 button{
    margin-top: 120px;
    display: none;
}
#cours2 button :hover {
    display: block;
}
#cours3 button{
    margin-top: 120px;
    display: none;
}
#cours3 button :hover {
    display: block;
}
#cours4 button{
    margin-top: 120px;
    display: none;
}
#cours4 button :hover {
    display: block;
}
#cours5 button{
    margin-top: 120px;
    display: none;
}
#cours5 button :hover {
    display: block;
}
#cours6 button{
    margin-top: 120px;
    display: none;
}
#cours6 button :hover {
    display: block;
}
#cours7 button{
    margin-top: 120px;
    display: none;
}
#cours7 button :hover {
    display: block;
}
#cours8 button{
    margin-top: 120px;
    display: none;
}
#cours8 button :hover {
    display: block;
}
#cours9 button{
    margin-top: 120px;
    display: none;
}
#cours9 button :hover {
    display: block;
}

#text{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

#exampleFormControlTextarea1{
    width: 500px;
    height: 75px;
    border-style: solid;
    border-radius: 5px;
}
.but{
    height: 25px;
    width: 25px;
}
.but1{
    height: 25px;
}
#nav{
    background: linear-gradient(180deg,red,black);
}
#menu {
    margin-left: 400px;
}
#test{
    background-color: green;
    height:300px;
}

[class*="col"] { 
    margin-bottom: 20px; 
}