/*header {
    background-color: brown;
    width: auto;
    height: auto;
}
.cours {

    background: linear-gradient(black,tomato);

}
#PlusDeCours{
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}
.menu li {
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;

}
.c
*/

body{
    background: linear-gradient(220deg,red,black);
}

.logo a img {
    height: 50px;
    width: 50px;
    float: left;
    margin-top: 15px;
    margin-left: 10px;
    
}


.barre{
    height: 80px;
    margin-top: -15px;
    background: linear-gradient(184deg,red,black);
    margin-left: -10px;
    margin-right: -10px;
}

.barre ul li {
    display:inline;
    padding: 50px;
} 

.barre #menu {
    text-align: center;
    margin-left: 400px;
}

#menu li a  {
    /*position: relative;*/
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    top: 0px;
    right: 0px;
    padding: 20px;
    float: left;
}

#menu li a :hover {
    color: red;
}
.navbar {

}
/*
.diapo{
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -5px;
}
*/
.listcours {
    text-align: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;

}


.listcours .block{
    display: inline-flex;    
    width: 20%;
    /*page-break-inside: auto;*/
    justify-content: center;
    padding: 30px;
    margin-top: -50px;
}

.cours1{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel.png");
    height: 250px;
    width: 250px;
    /*margin-left: 32%;*/
    margin-right: -100px;
    position: absolute;
}

.cours2{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel1.png");
    height: 250px;
    width: 250px;
    position: absolute;

}

.cours3{
    background-image: url("https://iyadhkhalfallah.github.io/checkpointsGMC/res/tracks/Objet\ dynamique\ vectoriel2.png");
    height: 250px;
    width: 250px;
    position: absolute;
   /* margin-left: -40%;*/

}

#lien a {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: blue;
    position: absolute;
    margin-top: 180px;
}
#lien a:hover {
    color: white;
}

.titre{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: white;
}
/*
.but{
    margin-top: 120px;
}
*/
#mybut1{
    display: none;
    margin-top: 120px;
}
#mybut1 :hover {
    display: block;
    margin-right: 50px;
}

#mybut2{
    margin-top: 120px;
    display: none;
}
#mybut2 :hover {
    display: block;
}
#mybut3{
    margin-top: 120px;
    display: none;
}
#mybut3 :hover {
    display: block;
}
.part3{
    margin-top: 300px;  
}


.carousel-page{
width:100%;
margin: auto;
}
.carousel-indicateur li{
    color: white;
}
#my_carousel{
    margin-top: -20px;
}
#nav{
    background: linear-gradient(180deg,red,black);
}   
#menu {
    margin-left: 400px;
}
